// ASIDE
// ===================================================
aside#aside-container
    #aside
        .nano
            .nano-content
                // Nav tabs
                // ================================
                ul.nav.nav-tabs.nav-justified
                    li.active
                        a(href='#demo-asd-tab-1', data-toggle='tab')
                            i.demo-pli-speech-bubble-7.icon-lg
                    li
                        a(href='#demo-asd-tab-2', data-toggle='tab')
                            i.demo-pli-information.icon-lg.icon-fw
                    li
                        a(href='#demo-asd-tab-3', data-toggle='tab')
                            i.demo-pli-wrench.icon-lg.icon-fw
                // ================================
                // End nav tabs
                // Tabs Content
                // ================================
                .tab-content
                    // First tab (Contact list)
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    #demo-asd-tab-1.tab-pane.fade.in.active
                        p.pad-all.text-main.text-sm.text-uppercase.text-bold
                            span.pull-right.badge.badge-warning 3
                        // Family
                        .list-group.bg-trans
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/2.png', alt='Profile Picture')
                                    i.badge.badge-success.badge-stat.badge-icon.pull-left
                                .media-body
                                    p.mar-no.text-main Stephen Tran
                                    small.text-muteds Availabe
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/7.png', alt='Profile Picture')
                                .media-body
                                    p.mar-no.text-main Brittany Meyer
                                    small.text-muteds I think so
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/1.png', alt='Profile Picture')
                                    i.badge.badge-info.badge-stat.badge-icon.pull-left
                                .media-body
                                    p.mar-no.text-main Jack George
                                    small.text-muteds Last Seen 2 hours ago
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/4.png', alt='Profile Picture')
                                .media-body
                                    p.mar-no.text-main Donald Brown
                                    small.text-muteds Lorem ipsum dolor sit amet.
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/8.png', alt='Profile Picture')
                                    i.badge.badge-warning.badge-stat.badge-icon.pull-left
                                .media-body
                                    p.mar-no.text-main Betty Murphy
                                    small.text-muteds Idle
                            a.list-group-item(href='#')
                                .media-left.pos-rel
                                    img.img-circle.img-xs(src='img/profile-photos/9.png', alt='Profile Picture')
                                    i.badge.badge-danger.badge-stat.badge-icon.pull-left
                                .media-body
                                    p.mar-no.text-main Samantha Reid
                                    small.text-muteds Offline
                        hr
                        p.pad-all.text-main.text-sm.text-uppercase.text-bold
                            span.pull-right.badge.badge-success Offline
                        // Works
                        .list-group.bg-trans
                            a.list-group-item(href='#')
                                span.badge.badge-purple.badge-icon.badge-fw.pull-left
                            a.list-group-item(href='#')
                                span.badge.badge-info.badge-icon.badge-fw.pull-left
                            a.list-group-item(href='#')
                                span.badge.badge-success.badge-icon.badge-fw.pull-left
                            a.list-group-item(href='#')
                                span.badge.badge-danger.badge-icon.badge-fw.pull-left
                        hr
                        p.pad-all.text-main.text-sm.text-uppercase.text-bold News
                        .pad-hor
                            p
                                a.add-tooltip.text-semibold.text-main(data-title='45%', href='#') adipiscing elit
                            small
                                em Last Update : Des 12, 2014
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // End first tab (Contact list)
                    // Second tab (Custom layout)
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    #demo-asd-tab-2.tab-pane.fade
                        // Monthly billing
                        .pad-all
                            p.pad-ver.text-main.text-sm.text-uppercase.text-bold Billing &amp; reports
                            p
                                strong.text-main $5.00
                        hr.new-section-xs
                        .pad-all
                            span.pad-ver.text-main.text-sm.text-uppercase.text-bold Amount Due On
                            p.text-sm August 17, 2018
                            p.text-2x.text-thin.text-main $83.09
                            button.btn.btn-block.btn-success.mar-top Pay Now
                        hr
                        p.pad-all.text-main.text-sm.text-uppercase.text-bold Additional Actions
                        // Simple Menu
                        .list-group.bg-trans
                            a.list-group-item(href='#')
                                i.demo-pli-information.icon-lg.icon-fw
                            a.list-group-item(href='#')
                                i.demo-pli-mine.icon-lg.icon-fw
                            a.list-group-item(href='#')
                                span.label.label-info.pull-right New
                                i.demo-pli-credit-card-2.icon-lg.icon-fw
                            a.list-group-item(href='#')
                                i.demo-pli-support.icon-lg.icon-fw
                        hr
                        .text-center
                            div
                                i.demo-pli-old-telephone.icon-3x
                            p.text-lg.text-semibold.text-main  (415) 234-53454 
                            small
                                em We are here 24/7
                    // End second tab (Custom layout)
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // Third tab (Settings)
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    #demo-asd-tab-3.tab-pane.fade
                        ul.list-group.bg-trans
                            li.pad-top.list-header
                                p.text-main.text-sm.text-uppercase.text-bold.mar-no Account Settings
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-1.toggle-switch(type='checkbox', checked='')
                                    label(for='demo-switch-1')
                                p.mar-no.text-main Show my personal status
                                small.text-muted Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-2.toggle-switch(type='checkbox', checked='')
                                    label(for='demo-switch-2')
                                p.mar-no.text-main Show offline contact
                                small.text-muted Aenean commodo ligula eget dolor. Aenean massa.
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-3.toggle-switch(type='checkbox')
                                    label(for='demo-switch-3')
                                p.mar-no.text-main Invisible mode 
                                small.text-muted
                        hr
                        ul.list-group.pad-btm.bg-trans
                            li.list-header
                                p.text-main.text-sm.text-uppercase.text-bold.mar-no Public Settings
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-4.toggle-switch(type='checkbox', checked='')
                                    label(for='demo-switch-4')
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-5.toggle-switch(type='checkbox', checked='')
                                    label(for='demo-switch-5')
                            li.list-group-item
                                .pull-right
                                    input#demo-switch-6.toggle-switch(type='checkbox', checked='')
                                    label(for='demo-switch-6')
                        hr
                        p.pad-hor.text-main.text-sm.text-uppercase.text-bold.mar-no Task Progress
                        .pad-all
                            p.text-main Upgrade Progress
                            .progress.progress-sm
                                .progress-bar.progress-bar-success(style='width: 15%;')
                                    span.sr-only 15%
                            small 15% Completed
                        .pad-hor
                            p.text-main Database
                            .progress.progress-sm
                                .progress-bar.progress-bar-danger(style='width: 75%;')
                                    span.sr-only 75%
                            small 17/23 Database
                    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    // Third tab (Settings)
// ===================================================
// END ASIDE