doctype html
html
	head
		include header
	body
		#container.effect.aside-float.aside-bright.mainnav-lg
			include navbar
			.boxed
				block content
				include aside
				include sidebar
			include footer
		// ===================================================
		// END OF CONTAINER
	include js